{% extends 'base/base.html' %}

{% load static %}
{% load socialaccount %}

{% block content %}
    <section>
        <div class="auth-card flex flex-col items-center justify-center pr-96 py-8 mx-auto my-24 lg:py-0">

            <div class="w-full rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 backdrop-blur-xl">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-2xl font-bold leading-tight tracking-tight text-slate-300">
                        Sign in to your account
                    </h1>
                    <form class="space-y-4" action="{% url 'sign-in' %}" method="post">
                        {% if form.non_field_errors %}
                            <ul class="errorlist mb-2">
                                {% for error in form.non_field_errors %}
                                    <li class="error-text text-red-400 text-lg">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% for field in form %}
                            {% if field.label != 'Remember me' %}
                                <div>
                                    <label for="id_{{ field.name|lower }}"
                                           class="block mb-2 text-lg font-semibold text-slate-300">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="flex items-center justify-between">
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                    {{ form.remember_me }}
                                </div>
                                <div class="ml-3 text-sm">
                                    <label for="remember" class="text-black text-md">Remember me</label>
                                </div>
                            </div>
                            <a href="{% url 'reset_password' %}" class="text-md font-medium text-primary-600 hover:underline">Forgot
                                password?</a>
                        </div>
                        <button type="submit"
                                class="w-full text-black bg-slate-300 hover:bg-slate-400 focus:ring-4 focus:outline-none focus:ring-primary-300 font-semibold rounded-lg text-md px-5 py-2.5 text-center">
                            Sign in
                        </button>

                        <p class="text-lg text-center">or</p>

                        <div
                                class="m-auto w-16 h-16 rounded-full bg-slate-300 hover:bg-slate-400 flex justify-center items-center">
                            <a class="p-4" href="{% provider_login_url 'google' %}">
                                <i class="fa-brands fa-google fa-2xl"></i>
                            </a>
                        </div>

                        <p class="text-md font-light text-black">
                            Don’t have an account yet? <a href="{% url 'sign-up' %}"
                                                          class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign
                            up</a>
                        </p>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}