{% extends 'base/base.html' %}

{% block content %}
    <div class="card-item flex justify-center items-center w-2/4 h-[400px] mx-auto my-12 opacity-1 border rounded-xl shadow bg-transparent border-gray-700 backdrop-blur-xl flex flex-col justify-center items-center">
        <p class="mb-6 topic-text text-slate-300 text-2xl text-center font-['Poppins'] font-semibold">Your password has been set. You may go ahead and log in now.</p>
        <a class="w-3/12 text-black bg-slate-300 hover:bg-slate-400 focus:ring-4 focus:outline-none focus:ring-primary-300 font-semibold rounded-lg text-md px-5 py-2.5 text-center" href="{% url 'sign-in' %}">Sign in</a>
    </div>
{% endblock %}