{% extends 'base/base.html' %}

{% block content %}
    <div class="card-item flex justify-center items-center w-2/4 h-[400px] mx-auto my-12 opacity-1 border rounded-xl shadow bg-transparent border-gray-700 backdrop-blur-xl flex flex-col justify-center items-center">
        <p class="card-text text-slate-300 text-xl font-semibold font-['Poppins'] text-center">We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
            your spam folder.
        </p>
    </div>
{% endblock %}