{% extends 'base/base.html' %}


{% block content %}
    {% include 'components/searchbar.html' %}

    <div class="title-container text-center mt-6 mb-20">
        <h1 class="main-title text-5xl font-semibold text-white font-['Poppins']">Latest Topics</h1>
    </div>

    <div class="parent-card flex justify-center xl:justify-evenly lg:flex-row lg:justify-around md:justify-center sm:flex-col sm:gap-2">
        {% for post in object_list %}
            <div class="card-container lg:flex lg:gap-8 md:justify-center">
                {% include 'components/info-card.html' %}
            </div>
        {% endfor %}
    </div>

{% endblock %}