@media (max-width: 600px) {
    .hero {
        overflow: hidden;
    }

    .logo {
        display: none;
    }

    .navbar {
        padding: 0;
        justify-content: center;
    }

    .hero > header > nav > ul > li {
        margin-left: 8px;
    }

    .hero > header > nav > ul > li > a {
        font-size: 12px;
    }

    .hero > header > nav > ul > li:not(:last-child) > a:not(:last-child):hover {
        background: none;
        color: #ffffff;
        text-decoration: underline;
    }

    .parent-card {
        display: block;
        width: 90%;
        margin: auto;
        text-decoration: underline;
    }

    .search-bar {
        width: 80%;
        margin-bottom: 0;
    }

    .title-container {
        margin-bottom: 24px;
    }

    .main-title {
        font-size: 2rem;
    }

    .card-text {
        font-size: 1.3rem;
    }

    .card-item > p {
        font-size: 1.1rem;
    }

    #dropdownAvatar {
        min-width: 80%;
        height: 50px;
    }

    #dropdownAvatar > .px-4 {
        padding-left: 0;
        padding-right: 0;
    }

    .divide-slate-500 > :not([hidden]) ~ :not([hidden]) {
        border-top-width: 0;
    }

    .menu-inline,
    .menu-inline > li {
        display: inline-block;
        padding-top: 4px;
        padding-bottom: 0;
    }

    .small-topic-bt-txt {
        height: 20px;
        width: 50px;
    }

    .btn-txt {
        right: 22px;
        bottom: 12px;
    }

    .topic-create-title {
        font-size: 24px;
        padding-left: 18px;
    }

    .form-label-title {
        font-size: 20px;
    }

    .topic-title {
        font-size: 24px;
    }

    .topic-btns {
        margin-left: 34px;
        padding-top: 12px;
    }

    .topic-btn {
        font-size: 14px;
        padding: 2px 8px;
    }

    .card-item {
        width: 80%;
    }

    .post-create-btns,
    .topic-create-btns{
        width: auto;
    }

    .created-on {
        display: none;
    }

    .details-box {
        margin: 12px;
    }

    .post-title {
        font-size: 18px;
    }

    .fa-regular {
        font-size: 22px;
    }

    .post-details-btn {
        font-size: 12px;
        padding: 4px 0;
    }

    .comment-text {
        width: 100%;
        max-width: 200px;
        margin-left: 24px;
    }

    .comment-btn {
        width: 60%;
    }

    .user-info {
        display: none;
    }

    .comment-responsive-box {
        flex-direction: column;
    }

    .comment-btns {
        padding: 0;
    }

    .hide-container {
        display: none;
    }

    .profile-info {
        width: 100%;
        margin: 0;
    }

    .alert-box {
        width: 125%;
    }
}

@media only screen and (min-width: 600px) and  (max-width: 767px) {
    .card-container {
        width: 80%; /* Set the desired fixed width for the cards */
    }

    .parent-card {
        flex-wrap: wrap;
    }

    .justify-center {
        justify-content: center;
    }

    .logo {
        font-size: 28px;
    }

    .search-bar {
        width: 67%;
    }

    #dropdownAvatar {
        min-width: 80%;
        height: 50px;
    }

    #dropdownAvatar > .px-4 {
        padding-left: 0;
        padding-right: 0;
    }

    .divide-slate-500 > :not([hidden]) ~ :not([hidden]) {
        border-top-width: 0;
    }

    .menu-inline,
    .menu-inline > li {
        display: inline-block;
        padding-top: 4px;
        padding-bottom: 0;
    }

    .email {
        margin-left: 48px;
    }

    .inner {
        padding-bottom: 4px;
        /*margin-left: 35%;*/
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .card-container {
        width: 80%; /* Set the desired fixed width for the cards */
    }

    .parent-card {
        flex-wrap: wrap;
    }

    .justify-center {
        justify-content: center;
    }

    .logo {
        font-size: 28px;
    }

    .search-bar {
        width: 67%;
    }

    #dropdownAvatar {
        min-width: 60%;
        height: 50px;
    }

    #dropdownAvatar > .px-4 {
        padding-left: 0;
        padding-right: 0;
    }

    .divide-slate-500 > :not([hidden]) ~ :not([hidden]) {
        border-top-width: 0;
    }

    .menu-inline,
    .menu-inline > li {
        display: inline-block;
        padding-top: 4px;
        padding-bottom: 0;
    }

    .email {
        margin-left: 48px;
    }

    .inner {
        padding-bottom: 4px;
        /*margin-left: 35%;*/
    }
}

@media (min-width: 1025px) and (max-width: 1300px) {
    .parent-card {
        flex-wrap: wrap;
    }

    .search-bar {
        width: 50%;
    }
}

@media only screen and (max-width: 768px), (max-width: 1024px) {
    .parent-card {
        align-items: center;
    }
}


@media only screen and (max-width: 600px), (max-width: 768px) {
    .topic-bt-txt {
        padding: 4px;
        text-align: center;
    }

    #default-search::placeholder {
        color: transparent;
    }

    .navbar {
        height: 80px;
    }
}

@media (max-width: 970px) {
    #default-search::placeholder {
        color: transparent;
    }
}

/* Login page */

@media (max-width: 600px), (max-width: 768px), (max-width: 1024px) {
    .auth-card {
        padding: 0;
        margin-left: 36px;
        margin-right: 36px
    }
}

/* posts */

@media (max-width: 600px), (max-width: 768px) {
    .topic-card {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .all-posts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .topic-card {
        width: 100%;
    }
}

@media (min-width: 1025px) and (max-width: 1350px) {
    .all-posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .topic-card {
        width: 100%;
    }
}

/* forum table */

@media (max-width: 600px), (max-width: 768px) {
    th {
        display: none;
    }

    td {
        display: block;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }

    .paginator {
        margin-bottom: 18px;
    }
}

/* profile */

@media (max-width: 600px), (max-width: 768px), (max-width: 1400px) {
    .profile-container {
        width: 80%;
        margin: 48px auto;
    }

    .reset-pwd-container {
        padding: 0;
        width: 90%;
        justify-content: space-between;
    }

    .inner-box {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .input-div {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .all-posts {
        display: grid;
        grid-template-columns: repeat(5, minmax(0px, 1fr));
    }
}