{% extends 'base/base.html' %}

{% load static %}
{% comment %} {% load socialaccount %}
    {% block links %}
        <link rel="stylesheet" href="{% static 'css/base/sign-in.css' %}">
        <link rel="stylesheet" href="{% static 'css/base/message.css' %}">
    {% endblock %} {% endcomment %}
{% block content %}
    <section>
        <div class="auth-card flex flex-col items-center justify-center pr-96 mx-auto my-24 ">

            <div class="w-full rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 backdrop-blur-xl">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-2xl font-bold leading-tight tracking-tight text-slate-300">
                        Create your account
                    </h1>
                    <form class="space-y-4" action="{% url 'sign-up' %}" method="post">
                        {% for field in form %}
                            <div>
                                <label for="id_{{ field.name|lower }}"
                                       class="block mb-2 text-lg font-semibold text-slate-300">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}

                        <button style="margin-top: 32px;" type="submit"
                                class="w-full text-black bg-slate-300 hover:bg-slate-400 focus:ring-4 focus:outline-none focus:ring-primary-300 font-semibold rounded-lg text-md px-5 py-2.5 text-center">
                            Sign
                            up
                        </button>


                        <p class="text-md font-light text-black">
                            Already have an account? <a href="{% url 'sign-in' %}"
                                                        class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign
                            in</a>
                        </p>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}