<div>
  <ul class="font-['Poppins'] flex">
    <li class="mx-2 text-lg"><a class="text-white" href="">About</a></li>
    <li class="mx-2 text-lg"><a class="text-white" href="">Contact</a></li>
    <li class="mx-2 text-lg"><a class="text-white" href="">Forum</a></li>
    <li class="mx-2 text-lg"><a class="text-white" href="">FAQ</a></li>
  </ul>
</div>

<div>
  <ul class="flex">
    <li class="mx-3">
      <a href=""><i class="fa-brands fa-facebook fa-2xl text-white"></i></a>
    </li>
    <li class="mx-3">
      <a href=""><i class="fa-brands fa-github fa-2xl text-white"></i></a>
    </li>
    <li class="mx-3">
      <a href=""><i class="fa-brands fa-linkedin fa-2xl text-white"></i></a>
    </li>
  </ul>
</div>
