<nav class="text-white flex justify-between px-5 w-full h-24 backdrop-blur-md">
  <div class="flex justify-between items-center">
    <span class="text-4xl font-['Poppins']">
      <a href="{% url 'home' %}">Dev Forum</a>
    </span>
  </div>

  <ul class="flex justify-between items-center">
    <li class='ml-4'><a
        class="font-['Poppins'] text-xl hover:bg-slate-300 hover:text-black hover:rounded-2xl hover:px-4 hover:py-1.5 hover:backdrop-blur-md"
        href="{% url 'home' %}">Home</a></li>
    <li class='ml-4'><a
        class="font-['Poppins'] text-xl hover:bg-slate-300 hover:text-black hover:rounded-2xl hover:px-4 hover:py-1.5 hover:backdrop-blur-md"
        href="">Topics</a></li>
    <li class='ml-4'><a
        class="font-['Poppins'] text-xl hover:bg-slate-300 hover:text-black hover:rounded-2xl hover:px-4 hover:py-1.5 hover:backdrop-blur-md"
        href="">Categories</a></li>
    {% if request.user.is_authenticated %}
    <li
      class="text-black text-xl ml-10 py-1.5  rounded-2xl bg-orange-400 shadow-2xl font-bold font-['Poppins'] inline-block hover:bg-orange-600">
      <a class="px-8 py-1.5 relative" href="">NEW TOPIC</a></li>

    {% comment %} <li class='text-black text-xl mx-2 py-1.5  rounded-full bg-slate-300 shadow-2xl hover:bg-slate-400'><a
        class="px-3 py-1.5" href="{% url 'profile-page' pk=request.user.pk %}"><i class="fa-solid fa-user"></i></a>
    </li>
    <li class='text-black text-xl mr-2 ml-1 py-1.5  rounded-full bg-slate-300 shadow-2xl hover:bg-slate-400'><a
        class="px-3 py-1.5" href="{% url 'sign-out' %}"><i class="fa-solid fa-right-from-bracket fa-lg"></i></a>
    </li> {% endcomment %}


    <button id="dropdownUserAvatarButton" data-dropdown-toggle="dropdownAvatar"
      class="flex mx-3 text-sm  rounded-full md:mr-0" type="button">
      <span class="sr-only">Open user menu</span>
      {% if user.userprofile.profile_picture %}
      <p class='mx-2 rounded-full bg-slate-300 shadow-2xl hover:bg-slate-400'><img class="h-12 w-12 rounded-full"
          src="{{ user.userprofile.profile_picture.url }}" alt=""></a>
        {% else %}
        <p class='px-3 text-black text-xl mx-2 py-1.5  rounded-full bg-slate-300 shadow-2xl hover:bg-slate-400'><i
            class="fa-solid fa-user"></i></a>
          {% endif %}
    </button>

    <!-- Dropdown menu -->
    <div id="dropdownAvatar" class="z-10 hidden bg-slate-300 divide-y divide-slate-500 rounded-lg shadow w-44 ">
      <div class="px-4 py-3 text-sm text-gray-900">
        {% if user.userprofile.first_name %}
        <div class="font-semibold">{{ user.userprofile.get_full_name }}</div>
        <div class="font-semibold truncate">{{ user.email }}</div>
        {% else %}
        <div class="font-semibold truncate">{{ user.email }}</div>
        {% endif %}
      </div>
      <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownUserAvatarButton">
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-slate-400 font-semibold">Dashboard</a>
        </li>
        <li>
          <a href="{% url 'profile-page' pk=request.user.pk %}"
            class="block px-4 py-2 hover:bg-slate-400 font-semibold">Settings</a>
        </li>
      </ul>
      <div class="py-2">
        <a href="{% url 'sign-out' %}"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-400 font-semibold">Sign
          out</a>
      </div>
    </div>


    {% else %}
    <li class='text-black text-xl mx-2 py-1.5  rounded-full bg-slate-300 shadow-2xl hover:bg-slate-400'><a
        class="px-3 py-1.5" href="{% url 'sign-in' %}"><i class="fa-solid fa-right-to-bracket fa-lg"></i></a>
    </li>
    {% endif %}
  </ul>
</nav>