{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="card-item max-h-min w-11/13 shadow backdrop-blur-xl rounded-2xl my-6 mx-6 relative pb-1">
        <div class="mx-6 py-4 flex justify-between items-center">
            <div class="flex gap-2 items-center">
                <div class="mr-2">
                    {% if post.author.userprofile.profile_picture %}
                        <img class="w-14" src="{{ post.author.userprofile.profile_picture.url }}" alt="">
                    {% else %}
                        <i class="fa-solid fa-user"></i>
                    {% endif %}
                </div>
                <p class="text-slate-300">Author:
                    <a href="{% url 'profile-page' pk=post.author_id %}"><h2
                            class="text-xl font-semibold text-slate-300">{{ post.author }}</h2>
                    </a>
                </p>

            </div>
            <p class="text-slate-300 text-lg">Created on: {{ post.created|date:'d M, Y' }}</p>

            {% if request.user.pk == post.author.pk or request.user.is_superuser or request.user.is_staff %}

            {% endif %}

        </div>
        <hr>
        <div class="m-12">
            <div class="border-2 rounded-lg p-4 mb-4">
                <h1 class="text-4xl text-white font-bold mb-12 border-b-2 pb-2">{{ post.title }}</h1>
                <p class="text-xl text-white mb-12">{{ post.body }}</p>
                {% if request.user.pk == comment.author.pk or request.user.is_staff or request.user.is_superuser %}
                    <div class="mb-2 flex gap-4 justify-end">
                        <a class="w-1/12  text-black bg-slate-300 hover:bg-slate-400 focus:ring-4 focus:outline-none focus:ring-primary-300 font-semibold rounded-lg text-md px-5 py-2.5 text-center"
                           href="{% url 'post_edit' slug=post.slug %}">Edit post</a>
                        <a class="w-1/12  text-black bg-slate-300 hover:bg-slate-400 focus:ring-4 focus:outline-none focus:ring-primary-300 font-semibold rounded-lg text-md px-5 py-2.5 text-center"
                           href="{% url 'post_delete' slug=post.slug %}">Delete post</a>
                    </div>
                {% endif %}
            </div>
            <h3 class="border-white text-slate-300 text-3xl pb-2">Comments:</h3>
            <div>
                <ul>
                    {% for comment in comments %}
                        <div class="border-2 rounded-lg p-4 mb-4">
                            <li class="text-lg text-white my-4">
                                <div class="flex gap-4">
                                    <div class="w-2/12 mb-2 mr-2 border-r flex flex-col justify-center items-start gap-4">
                                        <a class="font-bold hover:underline"
                                           href="{% url 'profile-page' pk=comment.author.pk %}">{{ comment.author }}</a>
                                        {% if comment.author.userprofile.profile_picture %}
                                            <img class="w-1/3 rounded-full"
                                                 src="{{ comment.author.userprofile.profile_picture.url }}" alt="">
                                        {% endif %}
                                        <div>
                                            <p class="text-sm">User from:
                                                {{ comment.author.date_joined|date:'d M, Y' }}</p>
                                            <p class="text-sm">Total
                                                comments: {{ comment.author.comment_set.count }}</p>
                                            {% if comment.author.userprofile.city %}
                                                <p class="text-sm">From: {{ comment.author.userprofile.city }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="w-full flex">
                                        {% if request.user.pk == comment.author.pk or request.user.is_staff or request.user.is_superuser %}
                                            <p class="break-all w-5/6">{{ comment.body }}</p>
                                            <div class="w-1/6 mb-2 flex flex-col gap-4 justify-end items-end">
                                                <button class="text-black bg-slate-300 hover:bg-slate-400 focus:ring-4 focus:outline-none focus:ring-primary-300 font-semibold rounded-lg text-md px-14 py-2.5 text-center" onclick="location.href='{% url 'comment_edit' slug=post.slug pk=comment.pk %}'">Edit</button>
                                                <form method="POST"
                                                      action="{% url 'comment_delete' slug=post.slug pk=comment.pk %}">
                                                    {% csrf_token %}
                                                    <button class="text-black bg-slate-300 hover:bg-slate-400 focus:ring-4 focus:outline-none focus:ring-primary-300 font-semibold rounded-lg text-md px-11 py-2.5 text-center">
                                                        Delete
                                                    </button>
                                                </form>
                                            </div>
                                        {% else %}
                                            <p class="break-all w-full">{{ comment.body }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        </div>
                        {% empty %}
                        <h1 class="text-4xl text-white pb-12">No comments for {{ post }}</h1>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% if request.user.is_authenticated %}
        <div class="card-item shadow backdrop-blur-xl rounded-xl w-1/2 m-auto mb-6 flex justify-center items-center">
            <form method="post" class="w-full flex flex-col justify-center items-center">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        <p class="block mb-2 text-lg font-semibold text-slate-300 text-center">Comment for ` {{ post }}
                            `</p>
                        {% if field.errors %}
                            <ul class="errorlist mb-2">
                                {% for error in field.errors %}
                                    <li><span class="error-text text-red-400">{{ error }}</span></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ field }}
                    </div>
                {% endfor %}
                <button class="w-1/6 my-4 p-10 text-black bg-slate-300 hover:bg-slate-400 focus:ring-4 focus:outline-none focus:ring-primary-300 font-semibold rounded-lg text-md px-5 py-2.5 text-center">
                    Submit
                </button>
            </form>

        </div>
    {% endif %}


{% endblock %}