{% extends 'base/base.html' %}

{% block content %}
<div
    class="card-item flex justify-center items-center w-3/4 h-[400px] mx-auto my-12 opacity-1 border rounded-xl shadow bg-transparent border-gray-700 backdrop-blur-xl flex flex-col justify-center items-center">
    <h1 class="text-slate-300 text-4xl font-bold mt-8 font-['Poppins']">Create new topic</h1>
    <form action="{% url 'topic_create' %}" method="post" class="flex flex-col w-3/4 m-auto mt-12">
        {% if form.non_field_errors %}
        <ul class="errorlist mb-2">
            {% for error in form.non_field_errors %}
            <li class="error-text text-red-400 text-lg">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% for field in form %}
        <div class="mb-6 flex flex-col justify-center items-center">
            <label for="id_{{ field.name }}"
                class="text-slate-300 text-4xl font-semibold mb-2 font-['Poppins']">{{ field.label }}</label>
            {% if field.errors %}
            <ul class="errorlist mb-2">
                {% for error in field.errors %}
                <li><span class="error-text text-red-400 text-lg">{{ error }}</span></li>
                {% endfor %}
            </ul>
            {% endif %}
            {{ field }}
        </div>
        {% endfor %}
        {% csrf_token %}
        <p class="text-slate-300 text-md text-center">Topic name must be with latin letters only!</p>
        <div class="mx-auto mt-2 w-1/2 flex gap-6">
            <button
                class="w-full text-black bg-slate-300 hover:bg-slate-400 focus:ring-4 focus:outline-none focus:ring-primary-300 font-semibold rounded-lg text-md px-5 py-2.5 text-center">
                Create topic
            </button>
            <a href="{% url 'forum_topics' %}"
                class="w-full text-black bg-slate-300 hover:bg-slate-400 focus:ring-4 focus:outline-none focus:ring-primary-300 font-semibold rounded-lg text-md px-5 py-2.5 text-center">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}