{% extends 'base/base.html' %}

{% block content %}
    {% include 'components/searchbar.html' %}

    {% if pattern %}
        <div>
            <h2 class="text-center text-4xl text-white mt-2">Search results for
                <strong>{{ pattern }}</strong>: {{ object_list.count }}</h2>
        </div>
    {% else %}
        <div>
            <h2 class="text-center text-4xl text-white mb-4">Total posts: {{ total_posts }}</h2>
        </div>
    {% endif %}

    <div class="relative overflow-hidden shadow-md rounded-lg mx-auto backdrop-blur-xl w-[calc(100%-2rem)]">
        <table class="forum-table w-full text-sm text-center text-gray-500 border-spacing-1">
            <thead class="text-3xl text-white uppercase backdrop-blur-xl">
            <tr class="border-2">
                <th scope="col" class="px-6 py-3 underline underline-offset-4">
                    Post name
                </th>
                <th scope="col" class="px-6 py-3 underline underline-offset-4">
                    Topic
                </th>
                <th scope="col" class="px-6 py-3 underline underline-offset-4">
                    Author
                </th>
                <th scope="col" class="px-6 py-3 underline underline-offset-4">
                    Created on
                </th>
            </tr>
            </thead>
            <tbody>
            {% for post in object_list %}
                <tr class="border-2 backdrop-blur-xl">
                    <td data-cell="post"
                        class="px-6 py-4 font-bold text-white text-xl whitespace-nowrap hover:scale-125">
                        <a href="{% url 'post_details' slug=post.slug %}">{{ post }}</a>
                    </td>
                    <td data-cell="topic" class="px-6 py-4 font-semibold text-lg text-white">
                        <a href="{% url 'topic_page' slug=post.topic.slug %}">{{ post.topic }}</a>
                    </td>
                    <td data-cell="author" class="px-6 py-4 font-semibold text-lg text-white">
                        <a href="{% url 'profile-page' pk=post.author_id %}">{{ post.author }}</a>
                    </td>
                    <td data-cell="created" class="px-6 py-4 font-semibold text-lg text-white">
                        {{ post.created|date:'d M, Y' }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'components/paginator.html' %}
{% endblock %}